<a href="https://colab.research.google.com/github/o-gabriel-schneider/challenge-alura-store/blob/main/AluraStoreBr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url1)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#£ Análise das lojas

##1. Análise do faturamento

### sub-goal: Idenficar as lojas com os maiores faturamentos.

In [2]:
# Loja 1

total_preco_loja1 = round(sum(loja1['Preço']), 2)
total_frete_loja1 = round(sum(loja1['Frete']), 2)
faturamento_loja1 = total_preco_loja1 + total_frete_loja1

print(f'O montante dos produtos vendidos pela Loja 1 foi de: R${total_preco_loja1}')
print(f'O montante dos frete cobrados pela Loja 1 foi de: R${total_frete_loja1}')
print(f'O faturamento total da Loja 1 foi de: R${faturamento_loja1}')

O montante dos produtos vendidos pela Loja 1 foi de: R$1534509.12
O montante dos frete cobrados pela Loja 1 foi de: R$81837.97
O faturamento total da Loja 1 foi de: R$1616347.09

In [3]:
# Loja 2

total_preco_loja2 = round(sum(loja2['Preço']), 2)
total_frete_loja2 = round(sum(loja2['Frete']), 2)
faturamento_loja2 = total_preco_loja2 + total_frete_loja2

print(f'O montante dos produtos vendidos pela Loja 2 foi de: R${total_preco_loja2}')
print(f'O montante dos frete cobrados pela Loja 2 foi de: R${total_frete_loja2}')
print(f'O faturamento total da Loja 2 foi de: R${faturamento_loja2}')

O montante dos produtos vendidos pela Loja 2 foi de: R$1488459.06
O montante dos frete cobrados pela Loja 2 foi de: R$79314.16
O faturamento total da Loja 2 foi de: R$1567773.22

In [4]:
# Loja 3

total_preco_loja3 = round(sum(loja3['Preço']), 2)
total_frete_loja3 = round(sum(loja3['Frete']), 2)
faturamento_loja3 = total_preco_loja3 + total_frete_loja3

print(f'O montante dos produtos vendidos pela Loja 2 foi de: R${total_preco_loja3}')
print(f'O montante dos frete cobrados pela Loja 2 foi de: R${total_frete_loja3}')
print(f'O faturamento total da Loja 2 foi de: R${faturamento_loja3}')

O montante dos produtos vendidos pela Loja 2 foi de: R$1464025.03
O montante dos frete cobrados pela Loja 2 foi de: R$78022.66
O faturamento total da Loja 2 foi de: R$1542047.69

In [5]:
# Loja 4

total_preco_loja4 = round(sum(loja4['Preço']), 2)
total_frete_loja4 = round(sum(loja4['Frete']), 2)
faturamento_loja4 = total_preco_loja4 + total_frete_loja4

print(f'O montante dos produtos vendidos pela Loja 2 foi de: R${total_preco_loja4}')
print(f'O montante dos frete cobrados pela Loja 2 foi de: R${total_frete_loja4}')
print(f'O faturamento total da Loja 2 foi de: R${faturamento_loja4}')

O montante dos produtos vendidos pela Loja 2 foi de: R$1384497.58
O montante dos frete cobrados pela Loja 2 foi de: R$73755.88
O faturamento total da Loja 2 foi de: R$1458253.46

In [6]:
# Comparação

comparacao_faturamento_lojas = {'Loja 1':faturamento_loja1, 'Loja 2':faturamento_loja2, 'Loja 3':faturamento_loja3, 'Loja 4':faturamento_loja4}
comparacao_ordenada_faturamento_lojas = sorted(comparacao_faturamento_lojas.items(), key=lambda item: item[1], reverse=True)

print("Faturamento das lojas em ordem crescente:")
for loja, faturamento in comparacao_ordenada_faturamento_lojas:
    print(f'{loja}: R${faturamento}')

Faturamento das lojas em ordem crescente:
Loja 1: R$1616347.09
Loja 2: R$1567773.22
Loja 3: R$1542047.69
Loja 4: R$1458253.46

## 2. Vendas por Categoria

### sub-goal: Idenficar as categorias mais vendidas.

In [74]:
# Loja 1

vendas_categoria_loja1 = {}
for categoria in loja1['Categoria do Produto']:
  if categoria in vendas_categoria_loja1:
    vendas_categoria_loja1[categoria] += 1
  else:
    vendas_categoria_loja1[categoria] = 1

vendas_categoria_ordenada_loja1 = sorted(vendas_categoria_loja1.items(), key = lambda item: item[1], reverse = True)
top_categorias_loja1 = vendas_categoria_ordenada_loja1[:3]

print(top_categorias_loja1)

[('moveis', 465), ('eletronicos', 448), ('brinquedos', 324)]

In [75]:
# Loja 2

vendas_categoria_loja2 = {}
for categoria in loja2['Categoria do Produto']:
  if categoria in vendas_categoria_loja2:
    vendas_categoria_loja2[categoria] += 1
  else:
    vendas_categoria_loja2[categoria] = 1

vendas_categoria_ordenada_loja2 = sorted(vendas_categoria_loja2.items(), key = lambda item: item[1], reverse = True)
top_categorias_loja2 = vendas_categoria_ordenada_loja2[:3]

print(top_categorias_loja2)

[('moveis', 442), ('eletronicos', 422), ('brinquedos', 313)]

In [76]:
# Loja 3

vendas_categoria_loja3 = {}
for categoria in loja3['Categoria do Produto']:
  if categoria in vendas_categoria_loja3:
    vendas_categoria_loja3[categoria] += 1
  else:
    vendas_categoria_loja3[categoria] = 1

vendas_categoria_ordenada_loja3 = sorted(vendas_categoria_loja3.items(), key = lambda item: item[1], reverse = True)
top_categorias_loja3 = vendas_categoria_ordenada_loja3[:3]

print(top_categorias_loja3)

[('moveis', 499), ('eletronicos', 451), ('brinquedos', 315)]

In [77]:
# Loja 4

vendas_categoria_loja4 = {}
for categoria in loja4['Categoria do Produto']:
  if categoria in vendas_categoria_loja4:
    vendas_categoria_loja4[categoria] += 1
  else:
    vendas_categoria_loja4[categoria] = 1

vendas_categoria_ordenada_loja4 = sorted(vendas_categoria_loja4.items(), key = lambda item: item[1], reverse = True)
top_categorias_loja4 = vendas_categoria_ordenada_loja4[:3]

print(top_categorias_loja4)

[('moveis', 480), ('eletronicos', 451), ('brinquedos', 338)]

In [78]:
# Comparação

comparacao_categoria_lojas = {'Loja 1':top_categorias_loja1, 'Loja 2':top_categorias_loja2, 'Loja 3':top_categorias_loja3, 'Loja 4':top_categorias_loja4}
#ordenar
comparacao_ordenada_categoria_lojas = sorted(comparacao_categoria_lojas.items(), key = lambda item: item[1][0][1] + item[1][1][1] + item[1][2][1], reverse = True)

print(f'Das categorias mais vendidas, as lojas têm, em ordem decrescente, os seguintes resultados:')
for loja, vendas in comparacao_ordenada_categoria_lojas:
  print(f'{loja}: {vendas}')

Das categorias mais vendidas, as lojas têm, em ordem decrescente, os seguintes resultados:
Loja 4: [('moveis', 480), ('eletronicos', 451), ('brinquedos', 338)]
Loja 3: [('moveis', 499), ('eletronicos', 451), ('brinquedos', 315)]
Loja 1: [('moveis', 465), ('eletronicos', 448), ('brinquedos', 324)]
Loja 2: [('moveis', 442), ('eletronicos', 422), ('brinquedos', 313)]

## 3. Média de Avaliação das Lojas

### sub-goal: Idenficar as lojas com as melhores médias de avaliação dos clientes.

In [54]:
# Loja 1

avaliacoes_loja1 = {}

for avaliacao in loja1['Avaliação da compra']:
  if avaliacao in avaliacoes_loja1:
    avaliacoes_loja1[avaliacao] += 1
  else:
    avaliacoes_loja1[avaliacao] = 1

avaliacoes_ordenadas_loja1 = sorted(avaliacoes_loja1.items(), key = lambda item: item[1], reverse = True)

print(f'As avaliações, em ordem decrescente, da Loja 1 são: {avaliacoes_ordenadas_loja1}')

As avaliações, em ordem decrescente, da Loja 1 são: [(5, 1292), (4, 444), (1, 319), (3, 218), (2, 86)]

In [55]:
# Loja 2

avaliacoes_loja2 = {}

for avaliacao in loja2['Avaliação da compra']:
  if avaliacao in avaliacoes_loja2:
    avaliacoes_loja2[avaliacao] += 1
  else:
    avaliacoes_loja2[avaliacao] = 1

avaliacoes_ordenadas_loja2 = sorted(avaliacoes_loja2.items(), key = lambda item: item[1], reverse = True)

print(f'As avaliações, em ordem decrescente, da Loja 2 são: {avaliacoes_ordenadas_loja2}')

As avaliações, em ordem decrescente, da Loja 2 são: [(5, 1302), (4, 482), (1, 273), (3, 209), (2, 93)]

In [56]:
# Loja 3

avaliacoes_loja3 = {}

for avaliacao in loja3['Avaliação da compra']:
  if avaliacao in avaliacoes_loja3:
    avaliacoes_loja3[avaliacao] += 1
  else:
    avaliacoes_loja3[avaliacao] = 1

avaliacoes_ordenadas_loja3 = sorted(avaliacoes_loja3.items(), key = lambda item: item[1], reverse = True)

print(f'As avaliações, em ordem decrescente, da Loja 3 são: {avaliacoes_ordenadas_loja3}')

As avaliações, em ordem decrescente, da Loja 3 são: [(5, 1356), (4, 434), (1, 297), (3, 193), (2, 79)]

In [57]:
# Loja 4

avaliacoes_loja4 = {}

for avaliacao in loja4['Avaliação da compra']:
  if avaliacao in avaliacoes_loja4:
    avaliacoes_loja4[avaliacao] += 1
  else:
    avaliacoes_loja4[avaliacao] = 1

avaliacoes_ordenadas_loja4 = sorted(avaliacoes_loja4.items(), key = lambda item: item[1], reverse = True)

print(f'As avaliações, em ordem decrescente, da Loja 4 são: {avaliacoes_ordenadas_loja4}')

As avaliações, em ordem decrescente, da Loja 4 são: [(5, 1300), (4, 453), (1, 310), (3, 210), (2, 85)]

In [87]:
# Comparação

comparacao_avaliacoes_lojas = {'Loja 1':avaliacoes_ordenadas_loja1, 'Loja 2': avaliacoes_ordenadas_loja2, 'Loja 3':avaliacoes_ordenadas_loja3, 'Loja 4': avaliacoes_ordenadas_loja4}
comparacao_avaliacoes_ordenadas_lojas = sorted(comparacao_avaliacoes_lojas.items(), key = lambda item: item[1][0][1] + item[1][1][1] - item[1][2][1] - item[1][3][1] - item[1][4][1], reverse = True)

print('Das avaliações dos clientes, as lojas têm, em ordem descrescente (seguindo a lógica de mais avaliações 5, 4 e menos 1, 2, 3), os seguintes resultados:')
for loja, avaliacao in comparacao_avaliacoes_ordenadas_lojas:
  print(f'{loja}: {avaliacao}')

Das avaliações dos clientes, as lojas têm, em ordem descrescente (seguindo a lógica de mais avaliações 5, 4 e menos 1, 2, 3), os seguintes resultados:
Loja 3: [(5, 1356), (4, 434), (1, 297), (3, 193), (2, 79)]
Loja 2: [(5, 1302), (4, 482), (1, 273), (3, 209), (2, 93)]
Loja 4: [(5, 1300), (4, 453), (1, 310), (3, 210), (2, 85)]
Loja 1: [(5, 1292), (4, 444), (1, 319), (3, 218), (2, 86)]

## 4. Produtos Mais e Menos Vendidos

### sub-goal: Idenficar os produtos menos e mais vendidos.

In [83]:
# Loja 1

vendas_produtos_loja1 = {}

for produto in loja1['Produto']:
  if produto in vendas_produtos_loja1:
    vendas_produtos_loja1[produto] += 1
  else:
    vendas_produtos_loja1[produto] = 1

vendas_produtos_ordenada_loja1 = sorted(vendas_produtos_loja1.items(), key = lambda item: item[1], reverse = True)

top_vendas_produtos_loja1 = vendas_produtos_ordenada_loja1[:3]
bottom_vendas_produtos_loja1 = vendas_produtos_ordenada_loja1[-3:]

print(f'Produtos mais vendidos na Loja 1: {top_vendas_produtos_loja1}')
print(f'Produtos menos vendidos na Loja 1: {bottom_vendas_produtos_loja1}')

Produtos mais vendidos na Loja 1: [('Micro-ondas', 60), ('TV Led UHD 4K', 60), ('Guarda roupas', 60)]
Produtos menos vendidos na Loja 1: [('Panela de pressão', 35), ('Headset', 33), ('Celular ABXY', 33)]

In [84]:
# Loja 2

vendas_produtos_loja2 = {}

for produto in loja2['Produto']:
  if produto in vendas_produtos_loja2:
    vendas_produtos_loja2[produto] += 1
  else:
    vendas_produtos_loja2[produto] = 1

vendas_produtos_ordenada_loja2 = sorted(vendas_produtos_loja2.items(), key = lambda item: item[1], reverse = True)

top_vendas_produtos_loja2 = vendas_produtos_ordenada_loja2[:3]
bottom_vendas_produtos_loja2 = vendas_produtos_ordenada_loja2[-3:]

print(f'Produtos mais vendidos na Loja 2: {top_vendas_produtos_loja2}')
print(f'Produtos menos vendidos na Loja 2: {bottom_vendas_produtos_loja2}')

Produtos mais vendidos na Loja 2: [('Iniciando em programação', 65), ('Micro-ondas', 62), ('Bateria', 61)]
Produtos menos vendidos na Loja 2: [('Mesa de jantar', 34), ('Impressora', 34), ('Jogo de tabuleiro', 32)]

In [85]:
# Loja 3

vendas_produtos_loja3 = {}

for produto in loja3['Produto']:
  if produto in vendas_produtos_loja3:
    vendas_produtos_loja3[produto] += 1
  else:
    vendas_produtos_loja3[produto] = 1

vendas_produtos_ordenada_loja3 = sorted(vendas_produtos_loja3.items(), key = lambda item: item[1], reverse = True)

top_vendas_produtos_loja3 = vendas_produtos_ordenada_loja3[:3]
bottom_vendas_produtos_loja3 = vendas_produtos_ordenada_loja3[-3:]

print(f'Produtos mais vendidos na Loja 3: {top_vendas_produtos_loja3}')
print(f'Produtos menos vendidos na Loja 3: {bottom_vendas_produtos_loja3}')

Produtos mais vendidos na Loja 3: [('Kit banquetas', 57), ('Mesa de jantar', 56), ('Cama king', 56)]
Produtos menos vendidos na Loja 3: [('Mochila', 36), ('Micro-ondas', 36), ('Blocos de montar', 35)]

In [86]:
# Loja 4

vendas_produtos_loja4 = {}

for produto in loja4['Produto']:
  if produto in vendas_produtos_loja4:
    vendas_produtos_loja4[produto] += 1
  else:
    vendas_produtos_loja4[produto] = 1

vendas_produtos_ordenada_loja4 = sorted(vendas_produtos_loja4.items(), key = lambda item: item[1], reverse = True)

top_vendas_produtos_loja4 = vendas_produtos_ordenada_loja4[:3]
bottom_vendas_produtos_loja4 = vendas_produtos_ordenada_loja4[-3:]

print(f'Produtos mais vendidos na Loja 4: {top_vendas_produtos_loja4}')
print(f'Produtos menos vendidos na Loja 4: {bottom_vendas_produtos_loja4}')

Produtos mais vendidos na Loja 4: [('Cama box', 62), ('Faqueiro', 59), ('Dashboards com Power BI', 56)]
Produtos menos vendidos na Loja 4: [('Violão', 37), ('Guarda roupas', 34), ('Guitarra', 33)]

In [90]:
# Comparação

comparacao_top_vendas_lojas = {'Loja 1': top_vendas_produtos_loja1, 'Loja 2': top_vendas_produtos_loja2, 'Loja 3': top_vendas_produtos_loja3, 'Loja 4': top_vendas_produtos_loja4}
comparacao_bottom_vendas_lojas = {'Loja 1': bottom_vendas_produtos_loja1, 'Loja 2': bottom_vendas_produtos_loja2, 'Loja 3': bottom_vendas_produtos_loja3, 'Loja 4': bottom_vendas_produtos_loja4}

print('Os três produtos mais vendidos em cada loja são:')
for item in comparacao_top_vendas_lojas.items():
  print(f'{item[0]}: {item[1]}')

print()

print('Os três produtos menos vendidos em cada loja são:')
for item in comparacao_bottom_vendas_lojas.items():
  print(f'{item[0]}: {item[1]}')

Os três produtos mais vendidos em cada loja são:
Loja 1: [('Micro-ondas', 60), ('TV Led UHD 4K', 60), ('Guarda roupas', 60)]
Loja 2: [('Iniciando em programação', 65), ('Micro-ondas', 62), ('Bateria', 61)]
Loja 3: [('Kit banquetas', 57), ('Mesa de jantar', 56), ('Cama king', 56)]
Loja 4: [('Cama box', 62), ('Faqueiro', 59), ('Dashboards com Power BI', 56)]

Os três produtos menos vendidos em cada loja são:
Loja 1: [('Panela de pressão', 35), ('Headset', 33), ('Celular ABXY', 33)]
Loja 2: [('Mesa de jantar', 34), ('Impressora', 34), ('Jogo de tabuleiro', 32)]
Loja 3: [('Mochila', 36), ('Micro-ondas', 36), ('Blocos de montar', 35)]
Loja 4: [('Violão', 37), ('Guarda roupas', 34), ('Guitarra', 33)]

## 5. Frete Médio por Loja

### sub-goal: Idenficar o valor de frete médio por loja.

In [91]:
# Loja 1

In [ ]:
# Loja 2

In [ ]:
# Loja 3

In [ ]:
# Loja 4

In [ ]:
# Comparação

#£ Relatório da análise

##Criação dos gráficos para visualização:

*    Decida quais tipos de gráficos usar para apresentar os resultados de maneira clara e visual.
*
*    Mínimo de 3 gráficos diferentes, que podem incluir gráficos de barras, pizza, dispersão, entre outros.

#£ Recomendação

###Após as análises, escreva um texto explicando, com base nos dados apresentados, qual loja o Senhor João deve vender e porquê.